<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
<h1>Some website - {{pageTitle}}</h1>
<p>{{homeMessage}}</p>

{{> footer}}
</body>
</html>